

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif ;
}
h1, h2 ,h3 ,h4, h5 ,h6 ,p ,li , a {
  padding: 0  ;
  margin: 0 !important;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
ul {
  padding: 0  !important;
}
figure {
	overflow: hidden;
}
a {
  color: initial !important;
  text-decoration: none !important;
}
@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.8rem !important;
  }

  }
  @media only screen and (max-width: 500px) {
    h2 {
      font-size: 1.5rem !important;
    }
    p {
      font-size: .9rem !important;
    }
    }
    @media only screen and (max-width: 350px) {
      h2 , h4 {
        font-size: 1rem !important;
      }
      p {
        font-size: .8rem !important;
      }
      }

      